body {
  font-family: 'Tinos', serif !important;
  font-size: 1.2rem !important;
}
#user-input {
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid #aeaeae;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(206, 206, 206);
  background: #fefefe;
}
#user-input:hover {
  box-shadow: 5px 5px 10px rgb(193, 193, 193);
} 


.projects {
  margin: 1rem;
  border: 1px solid #aeaeae !important;
  border-radius: 10px !important;
  box-shadow: 5px 5px 15px rgb(206, 206, 206);
}

.projects:hover {
  box-shadow: 5px 5px 10px rgb(193, 193, 193);
} 

.projects:hover header {
  background-color: #fffbee
}


#active-projects h3 {
  color: rgb(244, 85, 0);
}

#finished-projects h3 {
  color: rgb(1, 126, 78);
}


.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  background: white;
}


#finished-projects li h2 {
  font-family: 'Cormorant Garamond', serif !important;
  color: #004f16;
  font-size: 2rem;
}

#active-projects li h2 {
  font-family: 'Cormorant Garamond', serif !important;
  color: #982e01;
  font-size: 2rem;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #fff0e3;
}

#finished-projects .droppable {
  background: #d6ffd6;
}

#finished-projects .just-moved {
  background: rgb(177, 255, 180) !important;
}

#active-projects .just-moved {
  background: rgb(255, 255, 177) !important;
}